<template>
     <b-navbar>

      <template slot="end">
          <b-navbar-item tag="div">
              <div class="buttons">
                  <a 
                    class="button is-primary"
                    @click="currentProfile"
                  >
                      <strong>แก้ไขข้อมูลส่วนตัว</strong>
                  </a>
                  <a 
                    class="button is-danger"
                    @click="signoutFromWeb"
                  >
                      ออกจากระบบ
                  </a>
              </div>
          </b-navbar-item>
      </template>

    </b-navbar>
</template>

<script>
import { firebaseAuth } from '~/plugins/firebaseInstance'
import signout from '~/constants/signout'

export default {
    methods: {
        async currentProfile() {
            const user = firebaseAuth.currentUser
            if (user != null) {
                this.$router.push(`/users/${user.uid}`)
            }
        },
        async signoutFromWeb() {
            try {
                await signout()
                this.$router.push('/signin')
            } catch (error) {
                console.log(error)
            }
        }
    },
}
</script>