<template>
    <section
        class="min-width mx-auto flex flex-col p-6 bg-white rounded-lg shadow-xl mt-20"
    >
        <slot></slot>
    </section>
</template>

<style lang="scss" scoped>
@import '~/assets/default-hack.scss';
</style>