.mt-1 {
    margin-top: 0.25rem;
  }
  
  .mr-1 {
    margin-right: 0.25rem;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .ml-1 {
    margin-left: 0.25rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .ml-2 {
    margin-left: 0.5rem;
  }
  
  .mt-3 {
    margin-top: 0.75rem;
  }
  
  .mr-3 {
    margin-right: 0.75rem;
  }
  
  .mb-3 {
    margin-bottom: 0.75rem;
  }
  
  .ml-3 {
    margin-left: 0.75rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .mr-4 {
    margin-right: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .ml-4 {
    margin-left: 1rem;
  }
  
  .mt-5 {
    margin-top: 1.25rem;
  }
  
  .mr-5 {
    margin-right: 1.25rem;
  }
  
  .mb-5 {
    margin-bottom: 1.25rem;
  }
  
  .ml-5 {
    margin-left: 1.25rem;
  }
  
  .mt-6 {
    margin-top: 1.5rem;
  }
  
  .mr-6 {
    margin-right: 1.5rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .ml-6 {
    margin-left: 1.5rem;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .mr-8 {
    margin-right: 2rem;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  .ml-8 {
    margin-left: 2rem;
  }
  
  .mt-10 {
    margin-top: 2.5rem;
  }
  
  .mr-10 {
    margin-right: 2.5rem;
  }
  
  .mb-10 {
    margin-bottom: 2.5rem;
  }
  
  .ml-10 {
    margin-left: 2.5rem;
  }
  
  .mt-12 {
    margin-top: 3rem;
  }
  
  .mr-12 {
    margin-right: 3rem;
  }
  
  .mb-12 {
    margin-bottom: 3rem;
  }
  
  .ml-12 {
    margin-left: 3rem;
  }
  
  .mt-16 {
    margin-top: 4rem;
  }
  
  .mr-16 {
    margin-right: 4rem;
  }
  
  .mb-16 {
    margin-bottom: 4rem;
  }
  
  .ml-16 {
    margin-left: 4rem;
  }
  
  .mt-20 {
    margin-top: 5rem;
  }
  
  .mr-20 {
    margin-right: 5rem;
  }
  
  .mb-20 {
    margin-bottom: 5rem;
  }
  
  .ml-20 {
    margin-left: 5rem;
  }
  
  .mt-24 {
    margin-top: 6rem;
  }
  
  .mr-24 {
    margin-right: 6rem;
  }
  
  .mb-24 {
    margin-bottom: 6rem;
  }
  
  .ml-24 {
    margin-left: 6rem;
  }
  
  .mt-32 {
    margin-top: 8rem;
  }
  
  .mr-32 {
    margin-right: 8rem;
  }
  
  .mb-32 {
    margin-bottom: 8rem;
  }
  
  .ml-32 {
    margin-left: 8rem;
  }
  
  .mt-40 {
    margin-top: 10rem;
  }
  
  .mr-40 {
    margin-right: 10rem;
  }
  
  .mb-40 {
    margin-bottom: 10rem;
  }
  
  .ml-40 {
    margin-left: 10rem;
  }
  
  .mt-48 {
    margin-top: 12rem;
  }
  
  .mr-48 {
    margin-right: 12rem;
  }
  
  .mb-48 {
    margin-bottom: 12rem;
  }
  
  .ml-48 {
    margin-left: 12rem;
  }
  
  .mt-56 {
    margin-top: 14rem;
  }
  
  .mr-56 {
    margin-right: 14rem;
  }
  
  .mb-56 {
    margin-bottom: 14rem;
  }
  
  .ml-56 {
    margin-left: 14rem;
  }
  
  .mt-64 {
    margin-top: 16rem;
  }
  
  .mr-64 {
    margin-right: 16rem;
  }
  
  .mb-64 {
    margin-bottom: 16rem;
  }
  
  .ml-64 {
    margin-left: 16rem;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  
  .mr-auto {
    margin-right: auto;
  }
  
  .mb-auto {
    margin-bottom: auto;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .mt-px {
    margin-top: 1px;
  }
  
  .p-0 {
    padding: 0;
  }
  
  .p-1 {
    padding: 0.25rem;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .p-3 {
    padding: 0.75rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .p-5 {
    padding: 1.25rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .p-10 {
    padding: 2.5rem;
  }
  
  .p-12 {
    padding: 3rem;
  }
  
  .p-16 {
    padding: 4rem;
  }
  
  .p-20 {
    padding: 5rem;
  }
  
  .p-24 {
    padding: 6rem;
  }
  
  .p-32 {
    padding: 8rem;
  }
  
  .p-40 {
    padding: 10rem;
  }
  
  .p-48 {
    padding: 12rem;
  }
  
  .p-56 {
    padding: 14rem;
  }
  
  .p-64 {
    padding: 16rem;
  }
  
  .text-center {
    text-align: center;
  }