<template>
    <VCard 
        v-if="user"
    >
        <h1>{{ isCreate ? 'เพิ่มผู้ใช้งาน':'แก้ไขผู้ใช้งาน' }}</h1>
        <ValidationObserver
            tag="form"
            ref="addUserForm"
            @submit.prevent="createOrEdit"
            class="flex flex-col"
        >
            <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
                <b-field 
                    label="อีเมล"
                    :type="errors.length ? 'is-danger':''"
                    :message="errors"
                    class="pt-3"
                >
                    <b-input 
                        type="email"
                        v-model="user.email"
                        :disabled="!isCreate"
                    >
                    </b-input>
                </b-field>
            </ValidationProvider>
            <!-- <b-field 
                label="รหัสผ่าน"
                type=""
                message=""
                class="pt-1"
                v-if="isCreate"
            >
                <b-input 
                    type="password"
                    v-model="user.password"
                >
                </b-input>
            </b-field> -->
            <b-field 
                label="ชื่อ"
                type=""
                message=""
                class="pt-1"
            >
                <b-input 
                    type="text"
                    v-model="user.firstName"
                >
                </b-input>
            </b-field>
            <b-field 
                label="นามสกุล"
                type=""
                message=""
                class="pt-1"
            >
                <b-input 
                    type="text"
                    v-model="user.lastName"
                >
                </b-input>
            </b-field>
            <ValidationProvider name="age" rules="numeric" v-slot="{ errors }">
                <b-field 
                    label="อายุ"
                    :type="errors.length ? 'is-danger':''"
                    :message="errors"
                    class="pt-1"
                >
                    <b-input 
                        type="text"
                        v-model="user.age"
                    >
                    </b-input>
                </b-field>
            </ValidationProvider>            
            <ValidationProvider name="phone" rules="numeric|min:10" v-slot="{ errors }">
                <b-field 
                    label="เบอร์โทรศัพท์"
                    :type="errors.length ? 'is-danger':''"
                    :message="errors"
                    class="pt-1"
                >
                    <b-input 
                        type="text"
                        v-model="user.phone"
                        maxlength="10"
                    >
                    </b-input>
                </b-field>
            </ValidationProvider>
            <b-field 
                label="ที่อยู่"
                type=""
                message=""
                class="pt-3"
            >
                <b-input 
                    type="textarea"
                    v-model="user.address"
                >
                </b-input>
            </b-field>
            <b-notification 
                type="is-success"
                :active.sync="isSuccess"
                auto-close
            >
                แก้ไขข้อมูลสำเร็จ
            </b-notification>
            <b-notification 
                type="is-danger" 
                :active.sync="isError"
            >
                {{errors}}
            </b-notification>
            <b-button
                type="is-primary"
                native-type="submit"
            >{{ isCreate ? 'สร้างผู้ใช้งาน':'ยืนยันแก้ไข'}}</b-button>
            <nuxt-link
                class="text-center mt-3"
                to="/users"
            >กลับ</nuxt-link>
        </ValidationObserver>
    </VCard>
</template>

<script>
import { firebaseDb, firebaseAuth } from '~/plugins/firebaseInstance'
import uniqid from 'uniqid'

export default {

    data() {
        return {
            user: {
                email: '',
                // password: '', // ตอนแรกว่าจะเอาให้ createuser ก่อน ดันไปติดปัญหา automatic signin firebase จะทำให้ account ปัจจุบันเปลี่ยน เลยเลี่ยงท่านี้ไปก่อน
                firstName: '',
                lastName: '',
                age: '',
                phone: '',
                address: '',
            },
            isError: false,
            errors: '',
            isSuccess: false,
        }
    },

    computed: {
        isCreate() {
            return this.$route.params.userId === 'create'
        }
    },

    methods: {
        createOrEdit() {
            if(this.isCreate) {
                this.submitCreate()
            }
            else {
                this.submitEdit()
            }
        },
        async submitEdit() {
            try {
                const isValid = await this.$refs.addUserForm.validate()
                if(!isValid) {
                    return
                }
                
                this.$store.commit('loading/start')
                await firebaseDb
                        .collection('users')
                        .doc(this.$route.params.userId)
                        .update(this.user)
                this.$store.commit('loading/stop') 
                this.isSuccess = true                   

            } catch (error) {
                console.log(error)
                this.$store.commit('loading/stop')
                this.isError = true
                this.errors = error
            }
        },
        async submitCreate() {
            try {
                const isValid = await this.$refs.addUserForm.validate()
                if(!isValid) {
                    return
                }

                this.$store.commit('loading/start')

                // create user with email and password first
                // const response = await firebaseAuth.createUserWithEmailAndPassword(this.user.email, this.user.password)

                // if(response.user) {
                    // const { uid } = response.user
                    const uid = uniqid() // generate uid for this user
                    const user = { ...this.user } // remove reference from reactive vue
                    // delete user.password //ลบ key password ออกก่อนเนื่องจากจะไม่เก็บใน DB
                    await firebaseDb
                        .collection('users')
                        .doc(uid)
                        .set(user)

                    this.$router.push('/users')
                // }

                this.$store.commit('loading/stop')
            } catch (error) {
                console.log(error)
                this.isError = true
                this.errors = error.message
                this.$store.commit('loading/stop')
            }
        }
    },

    async mounted() {
        try {

            if(this.isCreate) {
                return
            }

            this.$store.commit('loading/start')
            const response = await firebaseDb
                                .collection('users')
                                .doc(this.$route.params.userId)
            const user = await response.get()
            this.user = user.data()
            this.$store.commit('loading/stop')
        } catch (error) {
            console.log(error)
            this.errors = error.message
            this.$store.commit('loading/stop')
        }
    }
}
</script>

<style lang="scss" scoped>
@import '~/assets/mt-class.scss';
</style>