<template>
    <VCard>
        <h1>ผู้ใช้ระบบทั้งหมด</h1>
        <b-table 
            :data="users" 
        >
            <template slot-scope="props">
                <b-table-column label="#">
                    {{ props.index + 1 }}
                </b-table-column>
                <b-table-column field="email" label="อีเมล">
                    {{ props.row.email }}
                </b-table-column>
                <b-table-column>
                    <b-button
                        type="is-primary"
                        @click="$router.push(`/users/${props.row.id}`)"
                    >
                        ดู / แก้ไข
                    </b-button>
                </b-table-column>
                <b-table-column>
                    <b-button
                        type="is-danger"
                        @click="deleteThisUser(props.row.id)"
                    >
                        ลบ
                    </b-button>
                </b-table-column>
             </template>
        </b-table>
        <b-button
            type="is-primary"
            class="mt-8"
            @click="$router.push('/users/create')"
        >
            สร้างผู้ใช้งาน
        </b-button>
    </VCard>
</template>

<script>
import { firebaseDb } from '~/plugins/firebaseInstance'

export default {

    data() {
        return {
            columns: [],
            users: [],
            errors: '',
        }
    },

    methods: {
        async deleteThisUser(userId) {
            try {
                if(!confirm('ต้องการลบจริงๆใช่หรือไม่')) {
                    return
                }
                this.$store.commit('loading/start')

                await firebaseDb.collection('users').doc(userId).delete()

                this.$store.commit('loading/stop')
                this.users = [] //clear users before refetch
                this.getUsers() //refetch user
            } catch (error) {
                console.log(error)
                this.$store.commit('loading/stop')
            }
        },

        async getUsers() {
            try {
                this.$store.commit('loading/start')
                const snapshot = await firebaseDb.collection('users').get()
                
                snapshot.forEach(doc => {
                    this.users.push({
                        id: doc.id,
                        ...doc.data()
                    })
                })

                this.$store.commit('loading/stop')

            } catch (error) {
                console.log(error)
                this.$store.commit('loading/stop')
                this.errors = error.message
            }
        }
    },

    mounted() {
        this.getUsers()
    }
}
</script>

<style lang="scss" scoped>
@import '~/assets/mt-class.scss';
</style>