<template>
  <section class="center-content">
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <nuxt />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { firebaseAuth } from '~/plugins/firebaseInstance'

export default {
    
  computed: {
    ...mapState({
      isLoading: state => state.loading.isLoading
    })
  },

}
</script>

<style lang="scss">
html, body {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

#__nuxt, #__layout {
  height:  100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.center-content {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px !important;
}

.min-width {
    min-width: 50%;
}
</style>
