<template>
<VCard>
  <ValidationObserver
    v-slot="{ passes }"
    ref="siginForm"
    tag="form"
    @submit.prevent="signin"
  >
    <div class="flex flex-col flex-1 justify-center pt-1">
      <h1>เข้าสู่ระบบ</h1>
      <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
        <b-field label="อีเมล" :type="errors.length ? 'is-danger':''" :message="errors" class="pt-3">
          <b-input type="email" v-model="email"></b-input>
        </b-field>
      </ValidationProvider>
      <ValidationProvider name="password" rules="required|min:6" v-slot="{ errors }">
        <b-field label="รหัสผ่าน" :type="errors.length ? 'is-danger':''" :message="errors" class="pt-1">
          <b-input type="password" v-model="password"></b-input>
        </b-field>
      </ValidationProvider>

      <b-notification
        v-if="errors"
        class="mt-3"
        type="is-danger"
        aria-close-label="Close notification"
        role="alert"
      >{{errors}}</b-notification>
      <b-button type="is-primary" class="mt-3" native-type="submit">เข้าสู่ระบบ</b-button>
      <nuxt-link class="text-center mt-3" to="/signup">สมัครสมาชิก</nuxt-link>
    </div>
  </ValidationObserver>
</VCard>
</template>

<script>
import { firebaseAuth } from "~/plugins/firebaseInstance";

export default {
  layout: "LoginLayout",

  data() {
    return {
      email: "",
      password: "",
      errors: ""
    };
  },

  methods: {
    async signin() {
      try {

        const isValid = await this.$refs.siginForm.validate()
        if(!isValid) {
            return
        }

        this.$store.commit("loading/start");
        const response = await firebaseAuth.signInWithEmailAndPassword(
          this.email,
          this.password
        );
        this.$store.commit("loading/stop");
        this.$router.push("/users");
      } catch (error) {
        console.log(error);
        this.$store.commit("loading/stop");
        this.errors = error.message;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~/assets/mt-class.scss';

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
</style>