<template>
  <VCard>
    <ValidationObserver tag="form" ref="registerForm" @submit.prevent="signup">
      <div class="flex flex-col flex-1 justify-center pt-1">
        <h1>สมัครสมาชิก</h1>
        <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
          <b-field
            label="อีเมล"
            :type="errors.length ? 'is-danger':''"
            :message="errors"
            class="pt-3"
          >
            <b-input type="email" v-model="email"></b-input>
          </b-field>
        </ValidationProvider>
        <ValidationProvider name="password" rules="required|min:6" v-slot="{ errors }">
          <b-field
            label="รหัสผ่าน"
            :type="errors.length ? 'is-danger':''"
            :message="errors"
            class="pt-1"
          >
            <b-input type="password" v-model="password"></b-input>
          </b-field>
        </ValidationProvider>
        <ValidationProvider
          name="confirm password"
          rules="required|min:6|confirmed:password"
          v-slot="{ errors }"
        >
          <b-field
            label="ยืนยันรหัสผ่าน"
            :type="errors.length ? 'is-danger':''"
            :message="errors"
            class="pt-1"
          >
            <b-input type="password" v-model="confirmPassword"></b-input>
          </b-field>
        </ValidationProvider>
        <b-notification
          v-if="errors"
          class="mt-3"
          type="is-danger"
          aria-close-label="Close notification"
          role="alert"
        >{{errors}}</b-notification>
        <b-button type="is-primary" native-type="submit">ยืนยันการสมัคร</b-button>
        <nuxt-link class="text-center mt-3" to="/signin">เข้าสู่ระบบ</nuxt-link>
      </div>
    </ValidationObserver>
  </VCard>
</template>

<script>
import { firebaseDb, firebaseAuth } from "~/plugins/firebaseInstance";
import { defaultRegister } from "~/constants/default";
import signout from "~/constants/signout";

export default {
  layout: "LoginLayout",

  data() {
    return {
      email: "",
      password: "",
      confirmPassword: "",
      errors: ""
    };
  },

  methods: {
    async signup() {
      try {
        const isValid = await this.$refs.registerForm.validate();
        if (!isValid) {
          return;
        }
        this.$store.commit("loading/start");
        const response = await firebaseAuth.createUserWithEmailAndPassword(
          this.email,
          this.password
        );

        //signout ก่อนเพื่อไม่ให้ currentuser login ทันที
        await signout();

        if (response.user) {
          const { uid } = response.user;
          await firebaseDb
            .collection("users")
            .doc(uid)
            .set({
              ...defaultRegister,
              email: this.email
            });
          this.$store.commit("loading/stop");
          this.$router.push("/signin");
        }
      } catch (error) {
        console.log(error);
        this.$store.commit("loading/stop");
        this.errors = error.message;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~/assets/mt-class.scss';

.min-width {
  min-width: 50%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
</style>